body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo-list {
  display: flex;
  max-width: 700px;
  border-style: groove;
  padding: 10px;
  margin: 1% auto 0;
  border-radius: 5px;
}

.todo-list-info div p {
  max-width: 500px;
}

.todo-buttons {
  display: flex;
  margin: auto 50px auto auto;
  height: 50px;
}

.todo-buttons:hover {
  cursor: pointer;
}

.icon {
  padding-top: 15px;
  padding-left: 20px;
}

.loading {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 25px;
}

.form-main {
  border-radius: 5px;
  background-color: #ffffff;
  width: 290px;
  height: 600px;
}

.form-control {
  padding: 15px;
}

.form-control-desc {
   width: 250px;
}


.input-title, .input-year {
  font-size: 15px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}

.create-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-button-size {
  width: 265px;
  height: 25px;
}

.home {
  margin-top: -50px;

}

.home-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.home-form {
  width: 300px;
  height: 400px;
  background-color: lightgray;
  border-radius: 3%;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

}

.form-reg {
   margin-top: 40px;
}